/* Página general */
.page-categorias {
  padding: 20px;
}

.page-categorias h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

/* Grid de categorías */
.categorias-lista {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.categoria-item {
  text-decoration: none;
  color: black;
  text-align: center;
}

.categoria-box {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #d9d9d9;
  border-radius: 16px;
}

.categoria-item p {
  margin-top: 8px;
  font-weight: bold;
  font-size: 15px;
}

/* TABLET */
@media (min-width: 768px) {
  .categorias-lista {
    grid-template-columns: repeat(3, 1fr);
  }

  .page-categorias h1 {
    font-size: 30px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .page-categorias {
    padding: 20px 60px;
  }

  .categorias-lista {
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
  }

  .page-categorias h1 {
    font-size: 32px;
  }
}
