.site-footer {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  box-sizing: border-box;
  background: transparent;
}

.footer-img {
  display: block;
  width: 100vw;
  max-width: none;
  height: auto;
}

@media (max-width: 767px) {
  .footer-img {
    width: 100vw;
    height: auto;
  }
}

html, body {
  overflow-x: hidden;
}
