@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css');

.barra-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.barra-inferior .boton {
  text-decoration: none;
  color: #000;
  font-size: 30px;
}

@media (min-width: 1025px) {
  .barra-inferior {
    display: none;
  }
}