.page {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "h1"
    "main"
    "aside"
    "footer";
  background: #ffffff;
  padding-bottom: 60px;
}

.page header {
  grid-area: header;
  background: #FE8403;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 15px;
  height: 75px;
}

.page h1 {
  grid-area: h1;
  padding-left: 12px;
  font-size: 24px;
  color: #000;
  margin: 10px 0;
}

.ri-menu-line {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.page .container {
  grid-area: main;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 12px;
}

.producto-descripcion-texto {
  font-size: 13px;
  color: #555;
  line-height: 1.4;
}

.page aside {
  grid-area: aside;
  background: #fff;
  padding: 0 12px;
}


.menu-desktop {
  display: none;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: none;
  }
}

@media (min-width: 1025px) {
  .page {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto 130px;
    grid-template-areas:
      "h1 h1"
      "main aside"
      "footer footer";
    padding-bottom: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

  .ri-menu-line {
    display: none;
  }

  .barra-inferior {
    display: none;
  }

  .page header {
    justify-content: space-between;
    padding: 0 60px;
    height: 100px;
  }

  .menu-desktop {
    display: flex;
    gap: 40px;
  }

  .menu-desktop a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
  }

  .page h1 {
    font-size: 32px;
  }

  .page .container {
    margin: 0 60px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-self: start;
  }

  .page aside {
    padding: 0 60px 0 0;
    align-self: start;
    margin-top: 0;
  }

  .page footer {
    width: 100%;
    height: 130px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page footer img {
    width: auto;
    height: 100%;
    max-width: none;
  }
}