#root {
  display: contents;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100vh;
  background: #ffffff;
  padding-bottom: 60px;
}

/* Para páginas que usan el layout con grid */
.page {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "h1"
    "div"
    "main"
    "aside";
  min-height: calc(100vh - 140px);
}

.page h1 {
  grid-area: h1;
}

.page .contenedor-busqueda {
  grid-area: div;
}

.page main {
  grid-area: main;
}

.page aside {
  grid-area: aside;
}

@media (min-width: 1025px) {
  body {
    padding-bottom: 0;
  }
  
  .page {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "h1 h1"
      "div div"
      "main aside";
    max-width: 100%;
  }
}