.page-category {
  padding: 16px;
}

h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.subtitulo {
  margin-bottom: 20px;
  color: #444;
}

.contenido {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* GRID DE PRODUCTOS */
.productos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* DESKTOP */
@media (min-width: 1025px) {
  .contenido {
    grid-template-columns: 3fr 1fr;
    gap: 40px;
  }

  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .sidebar {
    margin-top: 40px;
    padding-left: 20px;
  }
}