.product-card {
  background: white;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-image {
  width: 100%;
  height: 250px;
  background-color: #d9d9d9;
  border-radius: 12px;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.precio {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.descripcion {
  font-size: 18px;
  color: #555;
  margin: 0;
  line-height: 1.3;
}

.ver-mas {
  margin-top: 8px;
  padding: 12px 8px;
  width: 100%;
  background: #f4f4f4;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  justify-content: center;
}