.page-home {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px auto auto auto auto 110px;
  grid-template-areas:
    "header"
    "carrusel"
    "nav"
    "main"
    "aside"
    "footer";
}

.page-home header {
  grid-area: header;
  background: #FE8403;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 15px;
}

.page-home h1{
  padding-top: 0;
}

.page-home .categorias{
  margin-top: 20px;
  gap: 20px;
  display: flex;
}

.page-home .categoria-item{
  cursor: pointer;
  padding: 12px 24px;
  font-size: 20px;
  font: bold;
}

.page-home .ri-menu-line {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.page-home h1 {
  font-size: 26px;
  color: #000;
  margin: 16px 0 10px 0;
}

.page-home .carrusel {
  grid-area: carrusel;
  padding: 0 16px;
}

.page-home .slider-container {
  display: flex;
  width: 100%;
  border-radius: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 260px;
}

.page-home .slider-container img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 20px;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

.page-home nav {
  grid-area: nav;
  padding: 0 16px;
  margin-top: 8px;
}

.page-home main {
  grid-area: main;
  padding: 0 16px;
}

.page-home .destacados-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
  margin: 10px 0;
}

.page-home aside {
  grid-area: aside;
  padding: 0 16px;
}

.page-home .hecho-en-nl {
  font-weight: bold;
  color: #000;
  margin-top: -70px;
  padding-left: 110px;
}

.page-home footer {
  grid-area: footer;
  width: 100%;
  background-color: #FE8403;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.page-home footer img {
  width: 100%;
  height: auto;
  display: block;
}

.page-home .barra-inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 768px) {
  .page-home h1 { font-size: 30px; }
  
  .page-home .slider-container {
    height: 340px;
  }

  .page-home .destacados-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1025px) {
  .page-home .ri-menu-line { display: none; }
  .page-home .barra-inferior { display: none; }

  .page-home header {
    padding: 0 60px;
  }

  .page-home main {
    padding: 0 60px;
  }

  .page-home aside {
    padding: 0 60px 0 0;
  }

  .page-home .slider-container {
    height: 600px;
    width: 100%;
  }
}